:root {
    --brand-color: #2196F3;
  }

body {
    font-family: Roboto;
    color: #212121
}
.logo {
    font-family: Raleway;
}

.nav {
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
letter-spacing: 0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-color);
}

.contact-link {
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
letter-spacing: 0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
    
.contact-link:hover,
.contact-link:focus {
    color: var(--brand-color);
}


.hero {
    background-color: #2F303A;
    width: 1600px;
height: 600px;
top: 80px;
gap: 0px;
opacity: 0px;
}

.hero-title {
    color: #FFFFFF;
font-size: 44px;
font-weight: 900;
line-height: 10;
letter-spacing: 0.06em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.hero-button {
    width: 216px;
height: 50px;
top: 430px;
left: 692px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color:  var(--brand-color);
color: #FFFFFF;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
letter-spacing: 0.06em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;
}

.line-button:hover {
    color: #FFFFFF;
    background-color: var(--brand-color);
    }

.feature-text {
    color: #757575;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 270px;
height: 48px;
top: 800px;
left: 515px;
gap: 0px;
opacity: 0px;
}

.line-button {
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;
}

.item-name {
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.item-position {
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #757575;
}